.app-header {
    margin-bottom: 20px;
    margin-top: 30px;
    color: black;
  }
  
  .app-form {
    margin-bottom: 20px;
  
  }

.content{
    color: grey;
}
#outer {
  position: absolute;
top: 10%;
bottom: 20%;
left: 15%;
right: 15%;
}